@charset "utf-8";
/*
  Стили аналоговых часов
*/
.ac-top-panel-wrapper {
  display: flex;
  justify-content: center;
}

#ac-controls {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 90%;
  font-size: 12px;
}

.ac-btn {
  display: inline;
  color: black;
  background-color: #e0e0e4;
  margin: 0 2px;
  padding: 2px 7px;
  cursor: pointer;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  border-radius: 5px 5px 0 0;
}

.ac-btn:hover {
  background-color: white;
}

.ac-lbl {
  background-color: #e0e0e4;
  color: black;
  margin-top: 3px;
  padding: 2px 7px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid silver;
  border-radius: 5px 5px 0 0;
}

#ac-hh2,#ac-mm2,#ac-ss2 {
  margin-left: 15px;
}

#ac-body {
  position: relative;  /* - позиционированный родитель */
  background-color: #e0e0e4;
  padding: 5px;
  border-radius: 15px;
}

#ac-face {
  background-color: #f2f2f2;
  border: 3px solid silver;
  border-radius: 15px;
/* для canvas установка размеров в css работает неправильно!
  width: 500px;
  height: 500px;*/
}

#ac-hour-hand {
  z-index: 12;
}

#ac-minute-hand {
  z-index: 13;
}

#ac-second-hand {
  z-index: 14;
}

.ac-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#ac-time-in-words {
  background-color: #e0e0e4;
  padding: 3px;
}

#ac-hh2,#ac-mm2 {
  margin-left: 15px;
}

#ac-alarm-face {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 9px;
  background-color: black;
  border-radius: 7px;
}

.ac-alarm-digit {
  width: 32px;
  height: 64px;
}

#ac-alarm-flag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 15;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  right: 17px;
  border: 1px solid #808080;
  border-top-left-radius: 3px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}

#ac-alarm-flag img {
  width: 20px;
  height: 20px;
}

#ac-alarm-flag.alarm-on {
  background-color: #f00;
  border: 1px solid #f00;
}

#ac-time-in-words-led {
  background-color: black;
  font-family: Arial Narrow,sans-serif;
  /*  font-family: monospace;*/
  color: lightgreen;
  font-size: 18px;
  padding-bottom: 5px;
}

#ac-pedestal {
  padding: 2px 0;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: #e0e0e4;
  border-radius: 5px;
}
